<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Profile - User Access</title>
</head>
<body>

<!-- /* Content of this page will be decorated by the elements of layout.html (fragments/layout) */ -->
<div layout:fragment="content" class="col">
    <h4 class="text-center p-2 m-3">Update Your Profile</h4>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="card" style="width: 25rem;">
            <div class="card-body">
                <form class="needs-validation p-2" th:object="${user}"
                      th:action="@{'/profile/edit'}" method="post">
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{createdTimestamp}" />
                    <input type="hidden" th:field="*{username}">
                    <input type="hidden" th:field="*{password}">
                    <input type="hidden" th:field="*{roles}">
                    <input type="hidden" th:field="*{accountNonExpired}">
                    <input type="hidden" th:field="*{accountNonLocked}">
                    <input type="hidden" th:field="*{credentialsNonExpired}">
                    <input type="hidden" th:field="*{enabled}">
                    <input type="hidden" th:field="*{lostFoundItems}">

<!--                    <div class="row mb-4">-->
<!--                        <div class="col input-group">-->
<!--                            <input type="text" class="form-control" th:field="*{username}" placeholder="Username" aria-label="Username">-->
<!--                            <span class="input-group-text"><i class="bi bi-person"></i></span>-->
<!--                        </div>-->
<!--                    </div>-->

                    <h6>User Information</h6>
                    <div class="row mb-4">
                        <div class="col input-group input-group-sm">
                            <input type="text" class="form-control" th:field="*{fullName}" placeholder="Full Name" aria-label="Full Name">
                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                        </div>
                        <span th:if="${#fields.hasErrors('fullName')}">
                            <ul class="m-0">
                                <li class="text-danger" th:each="err : ${#fields.errors('fullName')}" th:text="${err}"></li>
                            </ul>
                        </span>
                    </div>

                    <div class="row mb-4">
                        <div class="col input-group input-group-sm">
                            <input type="text" class="form-control" th:field="*{phoneNumber}" placeholder="Phone Number" aria-label="Phone Number">
                            <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                        </div>
                        <span th:if="${#fields.hasErrors('phoneNumber')}">
                            <ul class="m-0">
                                <li class="text-danger" th:each="err : ${#fields.errors('phoneNumber')}" th:text="${err}"></li>
                            </ul>
                        </span>
                    </div>

                    <div class="row mb-4">
                        <div class="col input-group input-group-sm">
                            <input type="text" class="form-control" th:field="*{email}"  placeholder="E-mail" aria-label="E-mail">
                            <span class="input-group-text">@</span>
                        </div>
                        <span th:if="${#fields.hasErrors('email')}">
                            <ul class="m-0">
                                <li class="text-danger" th:each="err : ${#fields.errors('email')}" th:text="${err}"></li>
                            </ul>
                        </span>
                    </div>

                    <h6 class="py-2">Address</h6>
                    <div class="row mb-4">
                        <div class="col input-group input-group-sm">
                            <input type="text" class="form-control" th:field="*{address.street}" placeholder="Street" aria-label="Street">
                            <span class="input-group-text"><i class="bi bi-signpost-split" ></i></span>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col input-group input-group-sm">
                            <input type="text" class="form-control" th:field="*{address.city}" placeholder="City" aria-label="City">
                            <span class="input-group-text"><i class="bi bi-flag"></i></span>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col input-group input-group-sm">
                            <select class="form-select" th:field="*{address.state}" aria-label="State" >
                                <option th:each="stateValue : ${T(hyk.springframework.lostandfoundsystem.enums.State).values()}"
                                        th:value="${stateValue.name()}"
                                        th:text="${stateValue.name()}">State
                                </option>
                            </select>
                            <span class="input-group-text"><i class="bi bi-geo-alt" ></i></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-success btn-sm w-100">Update Profile</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>