<!DOCTYPE html>
<html lang="en">
<body>

<!-- Modal for View Lost/Found Item -->
<div th:fragment="viewItemModal" class="modal fade" id="viewItemModal" tabindex="-1"
     aria-labelledby="viewItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="viewItemModalLabel">Item Detail Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <input type="hidden" /> <!-- for ID -->
                <div class="p-3">
                    <div class="row py-2">
                        <div class="col-4">
                            Title
                        </div>
                        <div class="col-auto">
                            <span>Dell Laptop</span>
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-4">
                            Category
                        </div>
                        <div class="col-auto">
                            <span>Electronics</span>
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-4">
                            Found Date
                        </div>
                        <div class="col-auto">
                            <span>2022/01/21</span>
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-4">
                            Found Location
                        </div>
                        <div class="col-auto">
                            <span>Hlaing Township</span>
                        </div>
                    </div>

                    <div class="row border-bottom border-3 py-2">
                        <div class="col-4">
                            Detail Description
                        </div>
                        <div class="col-8">
                            <p>Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                                dolore magna aliqua.</p>
                        </div>
                    </div>

                    <h6 class="mt-2">Contact Information</h6>
                    <div class="row py-2">
                        <div class="col-4">
                            Name
                        </div>
                        <div class="col-8">
                            <span>War War Aung</span>
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-4">
                            Phone Number
                        </div>
                        <div class="col-8">
                            <span>09-123456789</span>
                        </div>
                    </div>

                    <div class="row py-2">
                        <div class="col-4">
                            E-mail
                        </div>
                        <div class="col-8">
                            <span>warwaraung@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div><!-- End of modal body> -->
        </div>
    </div>
</div><!-- End of Modal for View Lost/Found Item -->

<!-- Modal for New or Edit Lost/Found Item Information -->
<div th:fragment="newOrEditItemModal" class="modal fade" id="newOrEditItemModal" tabindex="-1"
     aria-labelledby="newOrEditItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="newOrEditItemModalLabel">New or Edit Item Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="p-3">
                    <form class="needs-validation" action="" method="post">
                        <input type="hidden"><!-- ID -->
                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Full Name" aria-label="Full Name" required>
                                <span class="input-group-text"><i class="bi bi-person"></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <select class="form-select" aria-label="Type">
                                    <option value="1">Lost</option>
                                    <option value="2">Found</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select" id="category">
                                    <option value="1">Electronics</option>
                                    <option value="2">Documents</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Title" aria-label="Title" required>
                                <span class="input-group-text"><i class="bi bi-card-heading"></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Lost/Found Date (YYYY-MM-DD)" aria-label="Lost/Found Date" required
                                       pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))">
                                <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Lost/Found Location" aria-label="Lost/Found Location" required>
                                <span class="input-group-text"><i class="bi bi-pin-map"></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <textarea class="form-control" placeholder="Detail Description (Write other necessary information for lost/found item)" aria-label="Lost/Found Location" rows="3"></textarea>
                            </div>
                        </div>


<!--                            <div class="col">-->
                                <!--                                            <label for="status" class="form-label">Status</label>-->
                                <!--                                            <select class="form-select" id="status">-->
                                <!--                                                <option value="1">Pending</option>-->
                                <!--                                                <option value="2">Active</option>-->
                                <!--                                                <option value="3">Rejected</option>-->
                                <!--                                                <option value="3">Completed</option>-->
                                <!--                                            </select>-->
<!--                            </div>-->

                        <h6>Contact Information</h6>
                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Full Name" aria-label="Full Name" required>
                                <span class="input-group-text"><i class="bi bi-person"></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number" required>
                                <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" required>
                                <span class="input-group-text">@</span>
                            </div>
                        </div>

                        <div class="col">
                            <button class="btn btn-success w-100" type="submit">Save</button>
                        </div>


<!--                        <div class="row mb-4">-->
<!--                            <div class="col input-group">-->
<!--                                <input type="text" class="form-control" placeholder="Street" aria-label="Street" required>-->
<!--                                <input type="text" class="form-control" placeholder="City" aria-label="City" required>-->
<!--                                <select class="form-select" aria-label="State">-->
<!--                                    <option value="1">Mon</option>-->
<!--                                    <option value="2">Kayin</option>-->
<!--                                    <option value="2">Tanintaryi</option>-->
<!--                                </select>-->
<!--                                <span class="input-group-text"><i class="bi bi-geo-alt" ></i></span>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="row mb-4">-->
<!--                            <div class="col input-group">-->
<!--                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" required>-->
<!--                                <span class="input-group-text"><i class="bi bi-person"></i></span>-->
<!--                            </div>-->
<!--                            <div class="col input-group">-->
<!--                                <input type="password" class="form-control" placeholder="Password" aria-label="Password" required>-->
<!--                                <span class="input-group-text"><i class="bi bi-key"></i></span>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="row mb-4">-->
<!--                            <div class="col">-->
<!--                                <select class="form-select" aria-label="Enable/Disable">-->
<!--                                    <option value="1">Enable</option>-->
<!--                                    <option value="2">Disable</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                            <div class="col">-->
<!--                                <select class="form-select" aria-label="Lock/Unlock">-->
<!--                                    <option value="1">Lock</option>-->
<!--                                    <option value="2">Unlock</option>-->
<!--                                </select>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                        <div class="row">-->
<!--                            <div class="col">-->
<!--                                <a href="#" class="btn btn-success w-100">Update User Account</a>-->
<!--                            </div>-->
<!--                        </div>-->
                    </form>
                </div>
            </div><!-- End of modal body> -->
        </div>
    </div>
</div> <!-- End of Modal for Edit Lost/Found Item Information -->

<!-- Modal for Confirmation of Delete Operation of Lost/Found Item-->
<!-- Add fragment for delete button link -->
<div th:fragment="deleteConfirmationModal"  class="modal fade" id="deleteConfirmationModal"
     tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmationModalLabel">
                    <i class="bi bi-exclamation-triangle text-danger fs-4 me-3"></i>Are you sure ?
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                Do you really want to delete this record? This operation cannot be undone.
                <div class="d-flex justify-content-center gap-3 mt-4">
                    <input type="hidden" /> <!-- for ID -->
                    <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                    <a href="#" class="btn btn-danger">Delete</a>
                </div>
            </div><!-- End of modal body> -->
        </div>
    </div>
</div> <!-- End of Modal for Confirmation of Delete Operation of Lost/Found Item-->

<!-- Modal for Edit Category -->
<div th:fragment="editCategoryModal" class="modal fade" id="editCategoryModal" tabindex="-1"
     aria-labelledby="editCategoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="editCategoryModalLabel">Category Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="p-3">
                    <form action="" method="post">
                        <input type="hidden" /> <!-- for ID -->
                        <div class="row mb-4">
                            <div class="col-3">
                                <label for="categoryName" class="form-label">Name</label>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" id="categoryName" placeholder="Eg. Vehicles" required>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col-3">
                                <label for="categoryDescription" class="form-label">Description</label>
                            </div>
                            <div class="col">
                                <textarea class="form-control" id="categoryDescription" placeholder="Write detail description for vehicle category." rows="3"></textarea>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center gap-3">
                            <a href="#" class="btn btn-success">Save</a>
                            <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                        </div>
                    </form>
                </div>
            </div><!-- End of modal body> -->
        </div>
    </div>
</div> <!-- End of Modal for Edit Category -->

<!-- Modal for New User Account Information -->
<div th:fragment="newUserAccountModal" class="modal fade" id="newUserAccountModal" tabindex="-1"
     aria-labelledby="newUserAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="newUserAccountModalLabel">New User Account Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="p-3">
                    <form class="needs-validation p-3" action="" method="post">
                        <input type="hidden"><!-- ID -->
                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Full Name" aria-label="Full Name" required>
                                <span class="input-group-text"><i class="bi bi-person"></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number" required>
                                <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" required>
                                <span class="input-group-text">@</span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Street" aria-label="Street" required>
                                <input type="text" class="form-control" placeholder="City" aria-label="City" required>
                                <select class="form-select" aria-label="State">
                                    <option value="1">Mon</option>
                                    <option value="2">Kayin</option>
                                    <option value="2">Tanintaryi</option>
                                </select>
                                <span class="input-group-text"><i class="bi bi-geo-alt" ></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" required>
                                <span class="input-group-text"><i class="bi bi-person"></i></span>
                            </div>
                            <div class="col input-group">
                                <input type="password" class="form-control" placeholder="Password" aria-label="Password" required>
                                <span class="input-group-text"><i class="bi bi-key"></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <select class="form-select" aria-label="Enable/Disable">
                                    <option value="1">Enable</option>
                                    <option value="2">Disable</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select" aria-label="Lock/Unlock">
                                    <option value="1">Lock</option>
                                    <option value="2">Unlock</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <a href="#" class="btn btn-success w-100">Create User Account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- End of modal body> -->
        </div>
    </div>
</div> <!-- End of Modal for New User Account Information -->

<!-- Modal for Edit User Account Information -->
<div th:fragment="editUserAccountModal" class="modal fade" id="editUserAccountModal" tabindex="-1"
     aria-labelledby="editUserAccountModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">

        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="editUserAccountModalLabel">Edit User Account Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="p-3">
                    <form class="needs-validation p-3" action="" method="post">
                        <input type="hidden"><!-- ID -->
                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Full Name" aria-label="Full Name" required>
                                <span class="input-group-text"><i class="bi bi-person"></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Phone Number" aria-label="Phone Number" required>
                                <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="E-mail" aria-label="E-mail" required>
                                <span class="input-group-text">@</span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Street" aria-label="Street" required>
                                <input type="text" class="form-control" placeholder="City" aria-label="City" required>
                                <select class="form-select" aria-label="State">
                                    <option value="1">Mon</option>
                                    <option value="2">Kayin</option>
                                    <option value="2">Tanintaryi</option>
                                </select>
                                <span class="input-group-text"><i class="bi bi-geo-alt" ></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col input-group">
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" required>
                                <span class="input-group-text"><i class="bi bi-person"></i></span>
                            </div>
                            <div class="col input-group">
                                <input type="password" class="form-control" placeholder="Password" aria-label="Password" required>
                                <span class="input-group-text"><i class="bi bi-key"></i></span>
                            </div>
                        </div>

                        <div class="row mb-4">
                            <div class="col">
                                <select class="form-select" aria-label="Enable/Disable">
                                    <option value="1">Enable</option>
                                    <option value="2">Disable</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-select" aria-label="Lock/Unlock">
                                    <option value="1">Lock</option>
                                    <option value="2">Unlock</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <a href="#" class="btn btn-success w-100">Update User Account</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- End of modal body> -->
        </div>
    </div>
</div> <!-- End of Modal for Edit User Account Information -->

</body>
</html>