<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Lost/Found Item Detail</title>
</head>
<body>

<!-- /* Content of this page will be decorated by the elements of layout.html (fragments/layout) */ -->
<div layout:fragment="content" class="col">
    <h3 class="text-center p-3 m-3" th:text="${lostFoundItem.type.name()} == 'FOUND' ? 'Found Item Detail' : 'Lost Item Detail'">Item Detail</h3>
<!--    <h3 class="text-center p-3 m-3" th:if="${lostFoundItem.type.name()} == 'LOST'">LOST Item Detail</h3>-->
    <div class="d-flex flex-column align-items-center justify-content-center mb-5">
        <div class="card px-4 bg-light w-50">
            <div class="card-body">

                <div class="row py-2">
                    <div class="col-4">
                        Title
                    </div>
                    <div class="col-auto" >
                        <span th:text="${lostFoundItem.title}">Dell Laptop</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4">
                        Category
                    </div>
                    <div class="col-auto">
                        <span th:text="${lostFoundItem.category}">Electronics</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4" th:text="${lostFoundItem.type.name()} == 'FOUND' ? 'Found Date' : 'Lost Date'">
                        Date
                    </div>
                    <div class="col-auto">
                        <span th:text="${lostFoundItem.lostFoundDate}">2022/01/21</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4" th:text="${lostFoundItem.type.name()} == 'FOUND' ? 'Found Location' : 'Lost Location'">
                        Location
                    </div>
                    <div class="col-auto">
                        <span th:text="${lostFoundItem.lostFoundLocation}">Hlaing Township</span>
                    </div>
                </div>
                <div class="row py-2">
                    <div class="col-4">
                        Created By
                    </div>
                    <div class="col-8">
                        <span th:text="${lostFoundItem.createdBy}">War War Aung</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4">
                        Modified By
                    </div>
                    <div class="col-8">
                        <span th:text="${lostFoundItem.modifiedBy}">War War Aung</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4">
                        Detail Description
                    </div>
                    <div class="col-8">
                        <p th:text="${lostFoundItem.description}">Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.</p>
                    </div>
                </div>

                <h6 class="mt-3">Contact Information</h6>
                <div class="row py-2">
                    <div class="col-4">
                        Name
                    </div>
                    <div class="col-8">
                        <span th:text="${lostFoundItem.reporterName}">War War Aung</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4">
                        Phone Number
                    </div>
                    <div class="col-8">
                        <span th:text="${lostFoundItem.reporterPhoneNo}">09-123456789</span>
                    </div>
                </div>

                <div class="row py-2">
                    <div class="col-4">
                        E-mail
                    </div>
                    <div class="col-8">
                        <span th:text="${lostFoundItem.reporterEmail}">warwaraung@gmail.com</span>
                    </div>
                </div>

<!--                <div class="row py-3 text-center">-->
<!--                    <a th:href="@{/lostFound/show}">Back</a>-->
<!--                </div>-->
            </div>
        </div>
    </div>
</div>

</body>
</html>