<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Lost/Found Item Report Form</title>
</head>
<body>

<!-- /* Content of this page will be decorated by the elements of layout.html (fragments/layout) */ -->
<div layout:fragment="content" class="col"
     th:with="text=${lostFoundItem['new']} ? 'Create' : 'Update'">
    <h3 class="text-center p-3 m-3"
        th:text="${text + ' Report for Your Lost/Found Item'}">Report Form</h3>
    <div class="d-flex flex-column align-items-center justify-content-center mb-5">
        <div class="card p-4 bg-light w-50">
            <div class="card-body">
                <form th:object="${lostFoundItem}" class="needs-validation"
                      th:with="createOrUpdate=${lostFoundItem['new']} ? 'new' : 'edit/' + ${lostFoundItem.id}"
                      th:action="@{'/lostFound/' + ${createOrUpdate}}"
                      method="post">
                    <input type="hidden" th:field="*{id}" />
                    <input type="hidden" th:field="*{createdBy}" />
                    <input type="hidden" th:field="*{modifiedBy}" />
                    <input type="hidden" th:field="*{createdTimestamp}" />
                    <input type="hidden" th:field="*{lastModifiedTimestamp}" />
                    <input type="hidden" th:field="*{version}" />
                    <input type="hidden" th:field="*{user.id}" />

                    <div class="row mb-4">
                        <div class="col">
                            <select class="form-select" aria-label="Type" th:field="*{type}">
                                <option th:each="typeValue : ${T(hyk.springframework.lostandfoundsystem.enums.Type).values()}"
                                        th:value="${typeValue.name()}"
                                        th:text="${typeValue.name()}">Type
                                </option>
                            </select>
                        </div>

                        <div class="col">
                            <select class="form-select" aria-label="Category" th:field="*{category}">
                                <option th:each="categoryValue : ${T(hyk.springframework.lostandfoundsystem.enums.Category).values()}"
                                        th:value="${categoryValue.name()}"
                                        th:text="${categoryValue.name()}">Category
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col input-group">
                            <input type="text" class="form-control" th:field="*{title}" placeholder="Title" aria-label="Title" required>
                            <span class="input-group-text"><i class="bi bi-card-heading"></i></span>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col input-group">
                            <input type="text" class="form-control" th:field="*{lostFoundDate}" placeholder="Lost/Found Date (YYYY-MM-DD)" aria-label="Lost/Found Date" required
                                   pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))">
                            <span class="input-group-text"><i class="bi bi-calendar3"></i></span>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col input-group">
                            <input type="text" class="form-control" th:field="*{lostFoundLocation}" placeholder="Lost/Found Location" aria-label="Lost/Found Location" required>
                            <span class="input-group-text"><i class="bi bi-pin-map"></i></span>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col input-group">
                            <textarea class="form-control" th:field="*{description}" placeholder="Detail Description (Write other necessary information for lost/found item)" aria-label="Description" rows="3"></textarea>
                        </div>
                    </div>

                    <h6>Contact Information</h6>
                    <div class="row mb-4">
                        <div class="col input-group">
                            <input type="text" class="form-control" th:field="*{reporterName}" placeholder="Full Name" aria-label="Full Name" required>
                            <span class="input-group-text"><i class="bi bi-person"></i></span>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col input-group">
                            <input type="text" class="form-control" th:field="*{reporterPhoneNo}" placeholder="Phone Number" aria-label="Phone Number" required>
                            <span class="input-group-text"><i class="bi bi-telephone"></i></span>
                        </div>
                    </div>

                    <div class="row mb-4">
                        <div class="col input-group">
                            <input type="text" class="form-control" th:field="*{reporterEmail}" placeholder="E-mail" aria-label="E-mail" required>
                            <span class="input-group-text">@</span>
                        </div>
                    </div>

                    <div class="col">
                        <button th:text="${text}" class="btn btn-success w-100" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>