<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Reported Items</title>
</head>
<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <!-- /* Content of this page will be decorated by the elements of layout.html (fragments/layout) */ -->
        <div layout:fragment="content" class="col">
            <h3 class="text-center p-2">Reported Items</h3>
            <div class="container w-75">
                <div class="pb-3">
                    <a th:href="@{/lostFound/new}" class="btn btn-primary"><i class="bi-plus-circle text-white pe-2"></i>New Item</a>
                </div>

                <table class="table table-hover table-responsive text-wrap"
                       th:if="${not #lists.isEmpty(lostFoundItemByAccountId)}">
                    <thead class="table-light">
                    <tr>
                        <th scope="col" class="w-15">Type</th>
                        <th scope="col" class="w-25">Category</th>
                        <th scope="col" class="w-45">Title</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lostFoundItem : ${lostFoundItemByAccountId}">
                        <td th:text="${lostFoundItem.id}" hidden>ID</td>
                        <td th:text="${lostFoundItem.type}">Lost</td>
                        <td th:text="${lostFoundItem.category}">Electronics</td>
                        <td th:text="${lostFoundItem.title}">Missing Dell Laptop</td>
                        <td>
                            <a th:href="@{'/lostFound/show/' + ${lostFoundItem.id}}"><i class="bi bi-eye text-primary"></i></a>
                            <a th:href="@{'/lostFound/edit/' + ${lostFoundItem.id}}" class="mx-3"><i class="bi bi-pencil-square text-success"></i></a>
                            <a data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal"><i class="bi bi-trash3 text-danger"></i></a>
                            <div th:fragment="deleteConfirmationModal"  class="modal fade" id="deleteConfirmationModal"
                                 tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-sm modal-dialog-scrollable modal-dialog-centered">

                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteConfirmationModalLabel">
                                                <i class="bi bi-exclamation-triangle text-danger fs-4 me-3"></i>Are you sure ?
                                            </h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>

                                        <div class="modal-body">
                                            Do you really want to delete this record? This operation cannot be undone.
                                            <div class="d-flex justify-content-center gap-3 mt-4">
                                                <input type="hidden" /> <!-- for ID -->
                                                <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                                                <a th:href="@{'/lostFound/delete/' + ${lostFoundItem.id}}" class="btn btn-danger">Delete</a>
                                            </div>
                                        </div><!-- End of modal body> -->
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr th:remove="all">
                        <td hidden>ID</td>
                        <td>Lost</td>
                        <td>Electronics</td>
                        <td>Missing Dell Laptop</td>
                        <td>
                            <a href="#"><i class="bi bi-eye text-primary"></i></a>
                            <a href="#" class="mx-3"><i class="bi bi-pencil-square text-success"></i></a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal"><i class="bi bi-trash3 text-danger"></i></a>
                        </td>
                    </tr>
                    <tr th:remove="all">
                        <td hidden>ID</td>
                        <td>Found</td>
                        <td>Documents</td>
                        <td>Passport Registration Documents</td>
                        <td>
                            <a href="#"><i class="bi bi-eye text-primary"></i></a>
                            <a href="#" class="mx-3"><i class="bi bi-pencil-square text-success"></i></a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal"><i class="bi bi-trash3 text-danger"></i></a>
                        </td>
                    </tr>
                    <tr th:remove="all">
                        <td hidden>ID</td>
                        <td>Lost</td>
                        <td>Accessories</td>
                        <td>Hair clips</td>
                        <td>
                            <a href="#"><i class="bi bi-eye text-primary"></i></a>
                            <a href="#" class="mx-3"><i class="bi bi-pencil-square text-success"></i></a>
                            <a href="#" data-bs-toggle="modal" data-bs-target="#deleteConfirmationModal"><i class="bi bi-trash3 text-danger"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>

                <!-- Modal for Confirmation of Delete Operation -->
<!--                <div th:replace="~{fragments/modal :: deleteConfirmationModal}"></div>-->

            </div>
        </div>
    </div>
</div>
</body>
</html>